@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    .margin{
        margin-left:5%;
    }

    .card-title{
        text-align:left; 
        margin-top:3%;
        
    }

    .card-body{
        display: flex;
        justify-content: space-between;
    }

    body {

        background-image: url(/images/back_inicio_carrito.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn{

        background-color:brown;
        border-color:black;
    }

    .container{
        display: flex;
        justify-content: space-between;
    }

</style>

<script>
        document.addEventListener('DOMContentLoaded', () => {
          // Variables
          const baseDeDatos = [
              {
                  id: 1,
                  nombre: 'Chaqueta Cuero Negro',
                  precio: 1,
                  imagen: 'https://cdnx.jumpseller.com/urbenmood/image/7870686/PS3828_Chaqueta_Cuero_PU_Hombres_Casual_Motociclista_SA722_Gris.1.jpg?1653521161'
              },
              {
                  id: 2,
                  nombre: 'Chaqueta Cuero Café',
                  precio: 1.2,
                  imagen: 'https://chevignon.vtexassets.com/arquivos/ids/890638/63_627B406_040000_0.jpg?v=637722563284030000'
              },
              {
                  id: 3,
                  nombre: 'Chaqueta Gris',
                  precio: 2.1,
                  imagen: 'https://i.linio.com/p/8099ac4450c1c09c7d1da46f7af432d8-product.jpg'
              },
              {
                  id: 4,
                  nombre: 'Chaqueta Reflectiva',
                  precio: 0.6,
                  imagen: 'https://http2.mlstatic.com/D_NQ_NP_997948-MCO46183770946_052021-O.jpg'
              }

          ];

          let carrito = [];
          const divisa = '$';
          const DOMitems = document.querySelector('#items');
          const DOMcarrito = document.querySelector('#carrito');
          const DOMtotal = document.querySelector('#total');
          const DOMbotonVaciar = document.querySelector('#boton-vaciar');

          // Funciones

          /**
          * Dibuja todos los productos a partir de la base de datos. No confundir con el carrito
          */
          function renderizarProductos() {
              baseDeDatos.forEach((info) => {
                  // Estructura
                  const miNodo = document.createElement('div');
                  miNodo.classList.add('card', 'col-sm-4');
                  // Body
                  const miNodoCardBody = document.createElement('div');
                  miNodoCardBody.classList.add('card-body');
                  // Titulo
                  const miNodoTitle = document.createElement('h5');
                  miNodoTitle.classList.add('card-title');
                  miNodoTitle.textContent = info.nombre;
                  // Imagen
                  const miNodoImagen = document.createElement('img');
                  miNodoImagen.classList.add('img-fluid');
                  miNodoImagen.setAttribute('src', info.imagen);
                  // Precio
                  const miNodoPrecio = document.createElement('p');
                  miNodoPrecio.classList.add('card-text');
                  miNodoPrecio.textContent = `${info.precio}${divisa}`;
                  // Boton 
                  const miNodoBoton = document.createElement('button');
                  miNodoBoton.classList.add('btn', 'btn-primary');
                  miNodoBoton.textContent = '+';
                  miNodoBoton.setAttribute('marcador', info.id);
                  miNodoBoton.addEventListener('click', anyadirProductoAlCarrito);
                  // Insertamos
                  miNodoCardBody.appendChild(miNodoImagen);
                  miNodoCardBody.appendChild(miNodoTitle);
                  miNodoCardBody.appendChild(miNodoPrecio);
                  miNodoCardBody.appendChild(miNodoBoton);
                  miNodo.appendChild(miNodoCardBody);
                  DOMitems.appendChild(miNodo);
              });
          }

          /**
          * Evento para añadir un producto al carrito de la compra
          */
          function anyadirProductoAlCarrito(evento) {
              // Anyadimos el Nodo a nuestro carrito
              carrito.push(evento.target.getAttribute('marcador'))
              // Actualizamos el carrito 
              renderizarCarrito();

          }

          /**
          * Dibuja todos los productos guardados en el carrito
          */
          function renderizarCarrito() {
              // Vaciamos todo el html
              DOMcarrito.textContent = '';
              // Quitamos los duplicados
              const carritoSinDuplicados = [...new Set(carrito)];
              // Generamos los Nodos a partir de carrito
              carritoSinDuplicados.forEach((item) => {
                  // Obtenemos el item que necesitamos de la variable base de datos
                  const miItem = baseDeDatos.filter((itemBaseDatos) => {
                      // ¿Coincide las id? Solo puede existir un caso
                      return itemBaseDatos.id === parseInt(item);
                  });
                  // Cuenta el número de veces que se repite el producto
                  const numeroUnidadesItem = carrito.reduce((total, itemId) => {
                      // ¿Coincide las id? Incremento el contador, en caso contrario no mantengo
                      return itemId === item ? total += 1 : total;
                  }, 0);
                  // Creamos el nodo del item del carrito
                  const miNodo = document.createElement('li');
                  miNodo.classList.add('list-group-item', 'text-right', 'mx-2');
                  miNodo.textContent = `${numeroUnidadesItem} x ${miItem[0].nombre} - ${miItem[0].precio}${divisa}`;
                  // Boton de borrar
                  const miBoton = document.createElement('button');
                  miBoton.classList.add('btn', 'btn-danger', 'mx-5');
                  miBoton.textContent = 'X';
                  miBoton.style.marginLeft = '1rem';
                  miBoton.dataset.item = item;
                  miBoton.addEventListener('click', borrarItemCarrito);
                  // Mezclamos nodos
                  miNodo.appendChild(miBoton);
                  DOMcarrito.appendChild(miNodo);
              });
             // Renderizamos el precio total en el HTML
             DOMtotal.textContent = calcularTotal();
          }

          /**
          * Evento para borrar un elemento del carrito
          */
          function borrarItemCarrito(evento) {
              // Obtenemos el producto ID que hay en el boton pulsado
              const id = evento.target.dataset.item;
              // Borramos todos los productos
              carrito = carrito.filter((carritoId) => {
                  return carritoId !== id;
              });
              // volvemos a renderizar
              renderizarCarrito();
          }

          /**
           * Calcula el precio total teniendo en cuenta los productos repetidos
           */
          function calcularTotal() {
              // Recorremos el array del carrito 
              return carrito.reduce((total, item) => {
                  // De cada elemento obtenemos su precio
                  const miItem = baseDeDatos.filter((itemBaseDatos) => {
                      return itemBaseDatos.id === parseInt(item);
                  });
                  // Los sumamos al total
                  return total + miItem[0].precio;
              }, 0).toFixed(2);
          }

          /**
          * Varia el carrito y vuelve a dibujarlo
          */
          function vaciarCarrito() {
              // Limpiamos los productos guardados
              carrito = [];
              // Renderizamos los cambios
              renderizarCarrito();
          }

          // Eventos
          DOMbotonVaciar.addEventListener('click', vaciarCarrito);

          // Inicio
          renderizarProductos();
          renderizarCarrito();
        });
</script>

@* <nav id="nav">
    <div class="navTop">
    <div class="navItem">
    <img src="" alt="">
    </div>
    <div class="navItem">
    <div class="search">
    <input type="text" placeholder="Search..." class="searchInput">
    @*<img src="/images/c1.jpg" width="200" height="200" alt="" class="searchIcon">*@
@*</div>
    </div>
    <div class="navItem">
    <span class="limitedOffer">Limited Offer!</span>
    </div>
    </div>
    <div class="navBottom">
    <h3 class="menuItem">AIR FORCE</h3>
    <img src="" width="200" height="200" alt="" class="searchIcon">
    <h3 class="menuItem">JORDAN</h3>
    <h3 class="menuItem">BLAZER</h3>
    <h3 class="menuItem">CRATER</h3>
    <h3 class="menuItem">HIPPIE</h3>
    </div>
    </nav>*@


<div class="container text-center">

        <div class="row row-cols-3">
            <!-- Elementos generados a partir del JSON -->
            <main id="items" class=""></main>
            <!-- Carrito -->

        </div>
                <aside class="col-sm-4">
                <h2>Carrito</h2>
                <!-- Elementos del carrito -->
                <ul id="carrito" class="list-group"></ul>
                <hr>
                <!-- Precio total -->
                <p class="text-right">Total: <span id="total"></span>&dollar;</p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </aside>
    </div>

