@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    .margin{
        margin-left:5%;
    }

    .card-title{
        text-align:left; 
        margin-top:3%;
        
    }

    .card-body{
        display: flex;
        justify-content: space-between;
    }

    body {

        background-image: url(/images/back_inicio_carrito.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn{

        background-color:brown;
        border-color:black;
    }

</style>


@* <nav id="nav">
    <div class="navTop">
    <div class="navItem">
    <img src="" alt="">
    </div>
    <div class="navItem">
    <div class="search">
    <input type="text" placeholder="Search..." class="searchInput">
    @*<img src="/images/c1.jpg" width="200" height="200" alt="" class="searchIcon">*@
@*</div>
    </div>
    <div class="navItem">
    <span class="limitedOffer">Limited Offer!</span>
    </div>
    </div>
    <div class="navBottom">
    <h3 class="menuItem">AIR FORCE</h3>
    <img src="" width="200" height="200" alt="" class="searchIcon">
    <h3 class="menuItem">JORDAN</h3>
    <h3 class="menuItem">BLAZER</h3>
    <h3 class="menuItem">CRATER</h3>
    <h3 class="menuItem">HIPPIE</h3>
    </div>
    </nav>*@


<div class="container text-center">
  <div class="row row-cols-3">

    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>


  </div>
</div>

<div class="container text-center">
  <div class="row row-cols-3">

    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>


  </div>
</div>






<div class="container text-center">
  <div class="row row-cols-3">

    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <div class="margin" style="max-width: 20rem;">
    <img src="/images/c1.jpg" class="card-img-top" style="max-height:20rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <a href="/Carrito" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>


  </div>
</div>